@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Raleway:wght@600&display=swap');:root {
  --primary-color: #3852d7;
}

body {
  background: #aaccff;
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
  color: black;
  font-size: 32px;
}

a {
  color: #F2F2F2;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.land{
  background: #6EAA00;
}

.water{
  background: #001220;
  color: white;
  padding: 3em;

}

.waterDiv{
  background: #004442;
  
}

.sky{
  background: linear-gradient(180deg, #aaccff 60%, #c68960)

}

.spacer{
  aspect-ratio: 960/540;  
  background-repeat: no-repeat;
  background-position: center;
  background-size: 101% auto;
  

}
.spacer2{
  aspect-ratio: 960/200;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}


.waveGraphic{
 

  background-image: url(/assets/layered-waves.svg);

}
.transition{
  background-image: url(./assets/water-transition.svg)
}
.waterGradient{
  
  background-image: url(./assets/deep-gradient.svg);

}
.floor{

  background-image: url(./assets/floor.svg);

}

.final{

  background-image: url(/assets/HBBFinalGDII.png);

}

.lighthouse{
  color: white;

  background-image: url(/assets/floor.svg);

}
#loon{

  background-image: url(/assets/loon.svg);
  width: 3em;
  height: 3em;
  position: absolute;
  background-repeat: no-repeat;
  transition: 1s ease-out;
}

.hidden{
  opacity: 0;
  transition: all 1s;
}

.show{
  opacity: 1;
}

.center {
  position: relative;
  left: 0%;
  transform: translate(7%, 0);
  padding: 2em;
  display: flex;

}
